@font-face {font-family: "Neue Kabel W01 Black";
	src: url("fonts/0ef5c927253f0c37b54e6f94cd732784.eot"); /* IE9*/
	src: url("fonts/0ef5c927253f0c37b54e6f94cd732784.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("fonts/0ef5c927253f0c37b54e6f94cd732784.woff2") format("woff2"), /* chrome、firefox */
	url("fonts/0ef5c927253f0c37b54e6f94cd732784.woff") format("woff"), /* chrome、firefox */
	url("fonts/0ef5c927253f0c37b54e6f94cd732784.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("fonts/0ef5c927253f0c37b54e6f94cd732784.svg#Neue Kabel W01 Black") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "DINNextW1G";
  src: url("fonts/DINNextW1G.otf");
}

:root {
  font-family: DINNextW1G;
  --grisFonce: #111618;
	--grisClair: #232E33;	
	--orange: #F9A602;
	--bleu: #067DB3;
	--violet: #922FEE;
	--jaune: #F9E259;
  --transition-speed: 600ms;
}
html{
  font-size: 16px !important ;
}
body {
  margin: 0 ;
  font-size: 14px;
	background-color: var(--grisFonce) ;
}

body::-webkit-scrollbar {
  width: 0.5rem ;
}

body::-webkit-scrollbar-track {
  background: #1e1e24 ;
}

body::-webkit-scrollbar-thumb {
  background: var(--violet);
}

main {
  padding-top: 5rem ;
}

.my-navbar {
  
  position: fixed ;
  z-index: 10 ;
  background-color: var(--grisFonce);
}

.my-navbar-nav {
  list-style: none ;
  padding: 0 ;
  margin: 0 ;
  display: flex ;
  align-items: center ;
}

.my-nav-link {
  display: flex ;
  align-items: center ;
  height: 5rem ;
  
  color: white ;
  background: var(--grisFonce) ;
  transition: var(--transition-speed) ;
  text-transform: uppercase ;
  font-family: Neue Kabel W01 Black ;
  padding-right: 1.5rem ;
}
.my-nav-link span{
  font-size: 16px !important;
}

.my-nav-link:hover {
  background: var(--grisClair);
  color: white;
}



.my-nav-link svg {
  height: 2rem  ;
  margin: 0 1.5rem ;
}

.my-nav-item:nth-last-child(7){
    display: none ;
}

.my-nav-item:nth-last-child(7) img {
  height: 2rem ;
  margin: 0 1.5rem ;
}

.my-nav-item::after{
	position: relative ;
	content: '' ;
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000) ;
	border-radius: 5px ;
	background-size: 400% ;
	z-index: 0 ;
	filter: blur(5px) ;
	transition: opacity .3s ease-in-out ;
	animation: animate 5s linear infinite ;
	left: 50% ;
	display: block ;
	height: 0.4em ;
	width: 0% ;
	transition: ease-in-out .3s ;
	transform: translateX(-50%) ;
}

.my-nav-item:hover::after{
	width: 100% ;
}


.fa-primary {
  color: var(--bleu);
}

.fa-secondary {
  color: var(--violet);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold ;
  text-transform: uppercase ;
  text-align: center ;
  color: white ;
  background: var(--grisClair) ;
  font-size: 1.5rem ;
  width: 100% ;
}

.logo img {
  margin: 0 1.5rem ;
  height: 2rem ;
  transform: rotate(0deg);
  transition: 1200ms ;
}

.my-navbar:hover .logo img {
  transform: rotate(360deg);
}

.logo-text
{
  display: inline ;
  position: absolute ;
  left: -999px ;
  transition: var(--transition-speed) ;
}

/* Very small screens */
@media only screen and (max-width:580px) {
  .logo {
    display: none ;
  }

  .my-navbar:hover .logo {
    display: inline ;
  }
}


/* Small screens */
@media only screen and (max-width: 1380px) {
  .my-navbar {
    top: 0 ;
    width: 100vw ;
    height: 5rem ;
  }
  
  .my-navbar-nav {
    flex-direction: row ;
  }

  main {
    margin: 0 ;
  }

  .my-nav-link {
    padding: 0 ;
  }

  .link-text {
    display: none;
    margin-left: 1rem ;
  }

  .my-nav-item::after{
    left: 0% ;
    transform: translateX(0%) ;
    position: absolute ;
  }

  .my-nav-item {
    width: 100% ;
  }

  .my-navbar-nav:hover {
    flex-direction: column ;
  }

  .my-navbar:hover .link-text {
    display: inline ;
  }

  .my-navbar:hover .logo img
  {
    margin-left: calc(100vw - 5em) ;
  }

  .logo-text
  {
    left: 0px ;
  }

  
}

/* Large screens */
@media only screen and (min-width: 1380px)  {
  .my-navbar {
    top: 0 ;
    width: 100vw ;
    height: 5rem ;
  }

  .logo {
    display: none ;
  }


  .link-text {
    display: inline ;
  }

  .my-nav-item {
    width: auto ;
  }

  .my-nav-item:nth-last-child(7){
    display: inline ;
}

  .my-nav-item:nth-last-child(2){
    margin-left: auto ;
  }
}




html{
	background-color: var(--grisFonce) !important;
}
  
  main{
   
    background-color: var(--grisFonce) ;
    
	  padding-left: 5em ;
	  padding-right: 5em ;
    
  }

  main #retour{
    display: flex;
    margin-bottom: 2em;
   
  }

main #retour div {
  font-size: 25px;
  margin-right: 10px;
  
}

main #retour  a {
  text-decoration: none !important; 
  display: flex;
  align-items: center;
}
main #retour h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

  main #tuiles {
	background-color: var(--grisClair);
	padding-top: 2em;
	padding-right: 5em;
	padding-left:5em;
	padding-bottom: 2em;;
	border-radius: 20px;
  }

  main #tuiles #headBar{
	display: flex;
	justify-content: space-between;
  align-items: center;
  }
  main #tuiles #headBar #blockReserStar {
    display: flex;

    align-items: center;
    
    }

  main #tuiles #headBar #blockReserStar button{
    font-family: DINNextW1G !important;
    font-size: large;
    color: white;
    background-color: var(--violet);
    margin-left: 15px;
    
    }
  main #tuiles #headBar #blockReserStar .fa{
	  color: white;
    font-size: 25px;
    
  }

  main #tuiles #headBar #blockReserStar .checked{
	color: var(--jaune);

  
  }

main #tuiles #details{
  display: flex;
  margin-top: 2em;
  
}
main #tuiles #details #texte{
  flex :4;
}
main #tuiles #details #caract{
  border-radius: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4em;
  flex :3;
  background-color: var(--violet);
}
main #tuiles #details #caract ul{
  margin-bottom: 0;
}
main #tuiles #details #caract ul li{
  display: flex;
  color: white;
  align-items: center;
  margin-bottom: 1vh;
}
main #tuiles #details #caract ul li p{
  margin-bottom: 0px;
}
  main #tuiles #photos  {
    
    
    padding-top: auto;
    display: flex;

    align-items: left;
  
  }
  

  
  /*Tuiles RGB*/
  
  
  
  @keyframes animate{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 100% 0;
    }
    100%{
      background-position: 0 0;
    }
  }
  
  /*Titres*/



main #tuiles h1{
  font-size: 3em;
	font-family:"Neue Kabel W01 Black" !important;
	padding: 0;
	margin: 0 !important;

  text-transform: uppercase;
  color: white !important;

}
  
  /*Textes*/
  
  p{
  
    padding-right: 1em;
    padding-left: 1em; 
    font-family: DINNextW1G !important;
    font-size: larger;
    color: white;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
  }
  
  a {
    text-decoration: none !important; 
  }


  .container.gallery-container {
    width: 100%;
    background-color: transparent;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #922FEEB2;
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}
@keyframes animate{
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 100% 0;
  }
  100%{
    background-position: 0 0;
  }
}


.bg-trans {		
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding: 0;
}

.bg-trans a {
  font-size: 2em;
  font-family:"Neue Kabel W01 Black" !important;
  padding: 0;
  
  background-color: var(--violet);
  background-image: linear-gradient(white,white);
  background-size: 0%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  text-transform: uppercase;
  color:transparent !important;
  transition-property: background-size;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}


.bg-trans a:hover{
  background-size: 100%;
}

    /*FOOTER*/

    footer{
      display: flex !important;
      flex-direction: row;
      justify-content: center;
      background-color: var(--grisFonce);
      font-family: "DINNextW1G";
      border-top: solid;
      border-width: 10px;
      border-color: var(--violet);
    }

    footer div {
      padding: 2vw;
      width: 30vw;
    }

    footer h2 {
      font-family:"Neue Kabel W01 Black" !important;
      text-align: center;
      color: white;
      margin-bottom: 11%;
    }

    footer li {
      text-decoration: none;
      color: white;
    }

    #reseaux {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #reseaux #content {
      display: flex;
      padding: 0;
    }

    #reseaux #content a {
      width: 100%;
      margin: 0 7%;
    }

    #reseaux #content a svg {
      color: var(--violet);
    }

    #contact {
      display: flex;
      flex-direction: column;
    }

    #contact #content {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
    }

    #contact #content li a {
      color: var(--violet);
    }

    #contact #content li a:hover {
      color: #8026d3;
    }

    #newsletter {
      display: flex;
      flex-direction: column;
    }

    #newsletter #content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    #newsletter #content p{
      text-align: center;
      padding: 0;
    }

    #newsletter #content input {
      width: 50%;
      margin-bottom: 10px;
    }

    #newsletter #content button {
      border-radius: 10px;
      border-style: none;
      color: white;
      background-color: #922FEE;
    }
