@font-face {font-family: "Neue Kabel W01 Black";
	src: url("fonts/0ef5c927253f0c37b54e6f94cd732784.eot"); /* IE9*/
	src: url("fonts/0ef5c927253f0c37b54e6f94cd732784.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("fonts/0ef5c927253f0c37b54e6f94cd732784.woff2") format("woff2"), /* chrome、firefox */
	url("fonts/0ef5c927253f0c37b54e6f94cd732784.woff") format("woff"), /* chrome、firefox */
	url("fonts/0ef5c927253f0c37b54e6f94cd732784.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("fonts/0ef5c927253f0c37b54e6f94cd732784.svg#Neue Kabel W01 Black") format("svg"); /* iOS 4.1- */
  }

@font-face {font-family: "DINNextW1G";
	src: url("fonts/DINNextW1G.otf");
  }


  :root{
	--grisFonce: #111618;
	--grisClair: #232E33;	
	--orange: #F9A602;
	--bleu: #067DB3;
	--violet: #922FEE;
	--jaune: #F9E259;
}

body{
	

	font-family:"Neue Kabel W01 Black" ,Lato, sans-serif;
	margin: 0%;
	background-color: var(--grisFonce);
}


#content{
	display: flex;
}
/*Titres*/

.bg-trans {		
	font-size: 2vw;
	padding-top: 2px;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	padding: 0;
}

.bg-trans a {
	font-size: 2em;
	font-family:"Neue Kabel W01 Black" !important;
	padding: 0;
	
	background-color: white;
	background-image: linear-gradient(#f9a602, #f9a602);
	background-size: 0%;
	background-repeat: no-repeat;
	background-clip: text;
	-webkit-background-clip: text;
	text-decoration: none;
	text-transform: uppercase;
	color:transparent !important;
	position: relative;
	transition-property: background-size;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}


.bg-trans a:hover{
	background-size: 100%;
	cursor: pointer;
}

/*Textes*/

p{

	
	font-family: DINNextW1G !important;
	color: white;
	width: auto;
 	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	font-size: larger;
}

a {
	text-decoration: none !important; 
}

nav{
	width: 100vw;
	background-color: var(--grisFonce);
	font-weight: bold;
}

nav ul {
	list-style: none;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: calc(1.5vw) 0;
}

nav li {
	overflow-wrap: anywhere;
}

nav li a {
	font-family:"Neue Kabel W01 Black" !important;
	font-size: calc(1.5vw);
	text-decoration: none;
	text-transform: uppercase;
	color: white !important;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: calc(1.5em - 0.75vw);
	padding-bottom: calc(1.5em - 0.75vw);
	position: relative;
}

nav li a::after{
	position: absolute;
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	border-radius: 5px;
	background-size: 400%;
	z-index: 0;
	filter: blur(5px);
	transition: opacity .3s ease-in-out;
	animation: animate 5s linear infinite;
	left: 50%;
	display: block;
	height: 0.4em;
	width: 0%;
	bottom: -0.4em;
	transition: ease-in-out .3s;
	transform: translateX(-50%);
}

nav li a:hover::after{
	width: 100%;
}

nav li:nth-last-child(2){
	margin-left: auto;
}


#nav_selection {
	height: min-content;
	color: white;
	display: flex;
	background-color:#922FEE;
	padding-top: 3em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 100em;
	font-size: larger;

	
}

#nav_selection #menu_select{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color:#922FEE;
}
/*------ CheckBox----------*/
#nav_selection #menu_select .container{
	font-family: DINNextW1G !important;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#nav_selection #menu_select .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

#nav_selection #menu_select .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 5px;
	background-color: #eee;
}
#nav_selection #menu_select .container:hover input ~ .checkmark {
	background-color: #ccc;
}
#nav_selection #menu_select .container input:checked ~ .checkmark {
	background-color:var(--orange);
}
#nav_selection #menu_select .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
#nav_selection #menu_select .container input:checked ~ .checkmark:after {
	display: block;
}

#nav_selection #menu_select .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
/* Fin checkBox*/


#nav_selection #menu_select #case{
	font-family: DINNextW1G !important;
	margin-top: 5%;
	margin-bottom: 5%;
}



#nav_selection button{
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 20%;
	padding-left: 20%;
	border-radius: 10px;
	border-style: none;
	display: flex;
	font-size: larger;
	color: white;
	background-color:#232E33;
}

#banniere {
	position: relative;
	z-index: 0;
	width: 100%;
	height: auto;
}






#catalogue{
	margin-top: 0;
	flex:1;
	background-color: #111618;
		
}

#catalogue #tuiles{
	background-color: #232E33;
	color: white;
	margin:3em;
	display: flex;
	width: auto;
	height:min-content;
	border-radius: 20px;
	padding:2%;
}


#catalogue #tuiles #col1{

	height: 100%;
	width: 55%;
	margin-right: 2%;
	display: flex;
	flex-direction: column;

	
}
#catalogue #tuiles #col1 h2{
	font-size: 2em;
}



#catalogue #tuiles #col2{

	height: 100%;
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content:  space-between;
	
}



#catalogue #tuiles #col2 img{

	width: 100%;
	border-radius: 10px;
	
	
	
}


#catalogue #tuiles #col2 button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	border-radius: 10px;
	border-style: none;
	

	font-size: larger;
	color: white;
	background-color: #922FEE;
}

#catalogue #tuiles #col2 button:hover{
	cursor: pointer;
}

#catalogue #tuiles #col2 button:active{
	background-color: #8229d4;
}













.RGB {
	color: white;
	position: relative;
}

.RGB a {
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	position: relative;
}

.RGB:before{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 5px;
	background-size: 400%;
	z-index: -1;
	opacity: 0;
	filter: blur(5px);
	transition: opacity .3s ease-in-out;
	animation: animate 5s linear infinite;
}

.RGB:hover:before{
	opacity: 1;
}

@keyframes animate{
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: 100% 0;
	}
	100%{
		background-position: 0 0;
	}
}